@import 'tailwindcss';

/* @custom-variant dark (&:where(.dark, .dark *)); */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-background: #020817;
  --color-primary: #050b1b;
  --color-stroke: #1e293b;
  --color-container: #070e21;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  scrollbar-width: thin;
}

#root {
  height: 100vh;
  width: 100vw;
}

/* Custom Scrollbar for #tabs-container */
#content-container::-webkit-scrollbar {
  width: 5px; /* Make scrollbar thinner */
  height: 5px; /* For horizontal scrollbar if ever needed */
}

#content-container::-webkit-scrollbar-track {
  background: transparent; /* Remove track background */
}

#content-container::-webkit-scrollbar-thumb {
  background-color: #1e293b;
  border-radius: 20px; /* Rounded thumb */
  border: none; /* No border around thumb */
}

#content-container::-webkit-scrollbar-thumb:hover {
  background-color: #1e293b;
}

/* Firefox Scrollbar Styles */
#content-container {
  scrollbar-width: thin; /* Use thin scrollbar */
  scrollbar-color: #1e293b transparent;
}
